.TextField___withLabel {
  @apply placeholder:text-transparent
    focus:placeholder:text-gray-400;
}
.TextField_Label {
  @apply absolute
    left-2
    top-2.5
    -translate-y-5
    bg-base-100
    px-2
    text-xs
    text-gray-400
    transition-all
    peer-placeholder-shown:-translate-y-0
    peer-placeholder-shown:text-lg
    peer-focus:-translate-y-5
    peer-focus:text-xs;
}
